.about-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  .info-wrapper {
    background-color: $light-blue;
    width: 700px;
    height: fit-content;
    padding-left: 10px;
    border: 1px solid $dark-grey;
    border-radius: 10px;

    p {
      padding-left: 20px;
      padding-right: 25px;
    }

    li {
      padding-right: 25px;
    }
  }

  .page-title {
    text-align: center;
    margin-top: 25px;
  }
}
