.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 75px;
  background-color: $light-blue;
  font-size: larger;

  a {
    color: #333;
    text-decoration: none;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #ff6600;
      transition: width 0.5s ease;
    }

    &:hover:before {
      width: 100%;
    }
  }
}
