body,
html {
  margin: 0;
  background-color: $cream;
}

.App {
  width: 100%;
  height: 100%;
  background-color: $cream;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.page-title {
  font-size: 46px;
  // border: 1px solid black;
  margin-bottom: 25px;
}
