$light-blue: rgb(76, 170, 246);
$lightest-blue: rgb(112, 184, 243);

$light-purple: rgb(171, 108, 255);

$dark-grey: rgb(103, 103, 103);
$light-grey: rgb(175, 175, 175);
$lightest-grey: rgb(234, 234, 234);

$cream: rgb(232, 232, 199);

$light-green: rgb(131, 255, 35);
